#tabuleiro_xadrez{
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 2px solid #000;
}
.casa{
    width: 50px;
    height: 50px;
}
.casa.branca{
    background-color: #f0d9b5;
}
.casa.preta{
    background-color: #b58863;
}