header{
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    height: 10vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #3d3d3d;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
    height: 10vh;
}
button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}
button:hover{
    background-color: #0056b3;
}
.left_panel{
    width: 20%;
    background-color: #3d3d3d;;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100%;
}
.panel_card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem;
    margin-bottom: 1rem;
}
.panel_title{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 0.25rem;
}
.status-info, .captured-pieces, .controls{
    margin-top: 0.5rem;
}
.tabuleiro_container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#tabuleiro_xadrez{
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#tabuleiro_xadrez td{
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
}   